html{
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
}

header nav {
  background-color: #737373;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  list-style: none;
  /* justify-content: flex-end; */
  /* list-style: none; */
  margin: 0;
  padding: 0;
}

header nav ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

header nav ul li a:hover {
  border-radius: 40px;
  background-color: #555;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  }
  
  .profile-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  padding: 10px;
  background-color: black;
  border: 1px solid gray;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .profile-dropdown:hover .dropdown-content {
  display: block;
  }
  
  .fa-user {
    font-size: 20px;
    width: 2px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color:rgb(44, 44, 44);
  }
  
  .fa-user:hover {
    color: #161515;
    background-color: white;
  }
  
  
  





.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#D6EAF8;
  padding: 20px;
  border: 1px dotted black;
  border-radius: 25px;
  z-index: 1000;
  width: 400px;
  height: 200px;
  animation: fadeIn 1s;
}

.popup-content {
  text-align: center;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover{
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





#showcase {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

#showcase-content {
  display: flex;
  flex-direction: column;
}

.showcase-img {
  width: 100%;
  display: none;
}

.showcase-img img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  object-fit: cover;
}

.showcase-img.active {
  display: block;
}

#left-arrow, #right-arrow {
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

#left-arrow {
  left: 10px;
  float: left;
}

#right-arrow {
  right: 10x;
  float: right;
}


main {
  /* padding: 20px;
  overflow: auto; */
  padding-bottom: 150px;
}

section {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #deebf5;
  color: black;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-university{
  background: #f1c40f;
  color: white;
}

.fa-youtube{
  background: #bb0000;
  color: white;
}

.fa-twitter{
  background: #55acee;
  color: white;
}

