@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@300&family=Roboto:wght@300&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

html{
    height: 100%;
    box-sizing: border-box;
  }

  body {
    position: relative;
  }

nav {
    background-color: #737373;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    border-radius: 40px;
    background-color: #555;
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
    }
    
    .profile-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    padding: 10px;
    background-color: black;
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .profile-dropdown:hover .dropdown-content {
    display: block;
    }

    /* .profile-dropdown a {
        display: block;
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
      }
      
      .profile-dropdown a i {
        font-size: 24px;
      } */
      
    
    /* .fa-user {
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 10px;
      text-align: center;
      border-radius: 50px;
      color: white;
      background-color:rgb(44, 44, 44);
    } */
    
    .fa-user {
        background-color: black;
        color: white;
        width: 2rem;
        padding: 10px;
        border-radius: 50px;

      }
      

    .fa-user:hover {
      color: #161515;
      background-color: white;
    }

      
      


















.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* set photo on background */
    background: url(img.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h1{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.contact .content p{
    font-weight: 400;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 20px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 600;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

.contactForm .inputBox{
    position: relative;
    margin-top: 25px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox textarea{
    min-height: 150px;
    padding-top: 10px;
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
    font-size: 20px;
}

.contactForm .inputBox input[type="submit"]:hover{
    background: #115e68;
    border-radius: 25px;
}

@media (max-width: 991px) {
    .contact{
        padding: 50px 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        width: 100%;
        margin-bottom: 30px;
    }
    .contactForm{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .contact{
        padding: 50px 20px;
    }
    .contact .content h1{
        font-size: 30px;
    }
    .contact .content p{
        font-size: 14px;
    }
    .contactForm h2{
        font-size: 20px;
    }
    .contactForm .inputBox input[type="submit"]{
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .contact .content h1{
        font-size: 25px;
    }
    .contact .content p{
        font-size: 12px;
    }
    .contactForm h2{
        font-size: 18px;
    }
    .contactForm .inputBox input[type="submit"]{
        font-size: 14px;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #deebf5;
    color: black;
    text-align: center;
  }
  
  footer a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-university{
    background: #f1c40f;
    color: white;
  }
  
  .fa-youtube{
    background: #bb0000;
    color: white;
  }
  
  .fa-twitter{
    background: #55acee;
    color: white;
  }